

#festival {
    background-image: url(../imgp/fondofestival.jpg);
    background-size: cover;
    background-position: center center;
    height: 750px;
    background-repeat: no-repeat;

    position: relative;
    font-family: "acumin";
    display: flex;
    align-items: center;
    justify-content: end;
}

#festival h2 {
    margin-bottom: 3rem;
    line-height: 1.3;
    font-size: 1.7rem;
    position: relative;
}

#festival h2 span {
    font-size: 2rem;
}

#festival h2::before,
#festival h2::after {
    content: "";
    width: 30px;
    height: 10px;
    background-color: black;
    display: block;
    position: absolute;
}
#festival h2::before {
    top: -30px;
}

#festival h2::after {
    bottom: -30px;
    right: 0;
}


#festival p {
    position: absolute;
    bottom: 10px;
    left: 80%;
    transform: translateX(-50%);
    font-size: 1.2rem;
}

.contenedor-fest {
    margin-right: 5rem;
}


.btn-inscribirse {
    margin: 7rem 0;
    text-decoration: none;
    color: #fff;
    background-color: var(--rojo);
    padding: 1rem 2rem;
    border-radius: .3rem;
    font-weight: bold;
    font-size: 1.5rem;
    
}


@media only screen and (max-width: 768px) {
    #festival {
        background-image: url(../imgp/fondofestivalmovil.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        flex-direction: column;
        height: 130vh;
        padding: 5rem 0;
    }

    .contenedor-fest {
        margin: 0;
    }

    #festival h2 {
        font-size: 1.4rem;
    }

    #festival h2 span {
        font-size: 1.8rem;
    }  

    .btn-inscribirse {
        width: 222px;
    }

    #festival h2::before {
        top: -20px;
    }
    
    #festival h2::after {
        bottom: -20px;
        right: 0;
    }

    #festival p {
        left: 50%;
        bottom: 0;
    }
}